/* NAVBAR */
.navbar {
  width: 1440px;
  height: 95px;
  background-color: indigo;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 95px;
  height: 95px;
  transform: translate(-14px,-36px);
}

.navbar-brand {
  font-size: 30px;
  font-weight: 500;
  padding-top: 36px;
}

.nav {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  padding-top: 22px;
  margin-right: 10px;
}

/* IMAGE */
.img-class {
  height: 557px;
  width: 100%;
}

/* CONTAINER 1 */
.cont1col1 {
  color: white;
  background-color: rgba(17, 153, 51, 0.7);
  margin-top: -64px;
  line-height: 30px;
  font-size: 15px;
  transform: translateY(-40px);
  padding-top: 20px;
}

.cont1col1 li {
  padding: 5px;
}

.cont1img {
  margin-top: 30px;
  height: 180px;
  width: 315px;
  transform: translateX(-40px);
}

/* Carousel */
.carousel-container {
  padding: 20px;
}

/* CONTAINER 2 */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: white;
  padding: 5px;
  color: white;
}

.grid-container > div {
  background-color: #263039;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  height: 220px;
  width: 200px;
}

/* FORM */
.offset-form {
  background-color: green;
  color: white;
}

.offset-form h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 18px;
}

.offset-form p {
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 10px;
}

::placeholder {
  color: white;
}

.form input[type=text], .form input[type=email] {
  border: none;
  border-bottom: 2px solid indigo;
  background-color: green;
}

.form input[type=submit] {
  background-color: green;
  border: 2px solid indigo;
  width: 50%;
  margin-left: 180px;
}

.subform {
  width: 49%;
}

/* FOOTER */
.footer-whole {
  background-color: indigo;
  display: flex;
  flex-direction: column;
}

.footer {
  padding-top: 50px;
  color: white;
}

.icon1 i {
  padding: 5px 5px;
  background: #7db6df;
  color: white;
  border-radius: 100%;
  transition: 0.2s;
  transform: scale(2.2);
}

.icon2 i {
  padding: 5px 5px;
  background: #337ab7;
  color: white;
  border-radius: 100%;
  transition: 0.2s;
  transform: scale(2.2);
}

.support {
  text-align: center;
  margin-left: -20px;
}

.support a {
  color: white;
}

.support img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.copy {
  color: white;
  margin-left: 610px;
}
